<section>
    <h1>About Me</h1>
    <li class="post">
        Software Developer yang tinggal di Jakarta dan sedang tergila-gila dengan semua kegiatan outdoor :)
        <br /><br />
        <img src="/images/blog-images/about/avatar.jpg">
    </li>
    <li class="post">
        <i class="fa fa-twitter"></i><a href="https://twitter.com/martinusadyh" target="_blank"> @martinusadyh</a>
    </li>
    <li class="post">
        <i class="fa fa-facebook"></i><a href="https://www.facebook.com/martinusadyh" target="_blank"> facebook.com/martinusadyh</a>
    </li>
</section>
